body {
	margin: 0px;
	padding: 0px;
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
}

.waiting-message {
	font-size: 24px;
	text-align: center;
}

.connected .waiting-message {
	display: none;
}
.myScore{
	position: absolute;
}
.connected .theirScore{
	position: absolute;
	left:120px;
}
.connected .myScore:before {
	content:"Your Score: ";
}

.connected .theirScore:before{
	content: "Their Score: ";
}

.disconnected .myscore,
.disconnected .theirScore{
	display: none;
}