body {
	margin: 0px;
	padding: 0px;
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
}

.waiting-message {
	font-size: 24px;
	text-align: center;
}

.connected .waiting-message {
	display: none;
}

.myScore, .theirScore {
	position: absolute;
	top: 10px;
}

.myScore{
	left: 10px;
}

.theirScore{
	left: 130px;
}

.myScore:before {
	content: "Your Score: ";
}

.theirScore:before{
	content: "Their Score: ";
}

.disconnected .myscore,
.disconnected .theirScore{
	display: none;
}