body {
	margin: 0px;
	padding: 0px;
	background-color: #000;
	color: #fff;
	font-family: sans-serif;
}

.waiting-message {
	font-size: 24px;
	text-align: center;
}

.connected .waiting-message {
	display: none;
}

.my-score, .their-score {
	position: absolute;
	top: 10px;
}

.my-score{
	left: 10px;
}

.their-score{
	left: 130px;
}

.my-score:before {
	content: "Your Score: ";
}

.their-score:before{
	content: "Their Score: ";
}

.disconnected .my-score,
.disconnected .their-score{
	display: none;
}